include head.jade


h2 Contacto
div#contactSection    
        div
            form(action="" method="post" encType="multipart/form-data")
                input(type="hidden" name="section" value="contact")
                label Nombre
                input(type="text" name="name" placeholder="#{contact_data[0].name}")
                br
                label Teléfono
                input(type="text" name="phone" placeholder="#{contact_data[0].phone}")
                br
                label Mail
                input(type="text" name="mail" placeholder="#{contact_data[0].mail}")
                br
                input(type="submit" value="Guardar")


include sidebar.jade    
include footer.jade
