include head.jade


if token.length > 0
    h1 #{token}

form(action="save" method="post")
    input(type="hidden" name="section" value="config")
    label Título
    input(type="text" name="title")
    br
    label Descripción
    input(type="text" name="description")
    br
    label Keywords
    input(type="text" name="keywords")
    br
    input(type="submit" value="Guardar")

include sidebar.jade
include footer.jade
