include head.jade

div#login_contain

    div#loginSection
        if message != undefined
            div(style="max-width: 350px; margin: 0 auto 40px auto")
                div.alert.alert-danger #{message}
        div.card.card-container
            img#profile-img.profile-img-card(src='//ssl.gstatic.com/accounts/ui/avatar_2x.png')
            p#profile-name.profile-name-card
            form.form-signin(action="/admin/login" method="post" encType="multipart/form-data")
                input(type="hidden" name="section" value="login")
                span#reauth-email.reauth-email
                input#inputEmail.form-control(type='text', placeholder='Usuario', name="user", required='', autofocus='')
                input#inputPassword.form-control(type='password', placeholder='Contraseña', name="pass" required='')
                button.btn.btn-lg.btn-primary.btn-block.btn-signin(type='submit') Entrar

include footer.jade
