div#sidebar
    div.wrapper
        ul
            li
                a(href="/admin/home")
                    i.material-icons home
                    | Home
            li
                a(href="/admin/sections")
                    i.material-icons extension
                    | Secciones
            li
                a(href="/admin/contact")
                    i.material-icons perm_phone_msg
                    | Contacto
            li
                a(href="/admin/perfil")
                    i.material-icons face
                    | Perfil
            li
                a(href="/admin/logout")
                    i.material-icons exit_to_app
                    | Salir
