div#sidebar
    div.wrapper
        ul
            li
                a(href="/admin/") Home
            li
                a(href="/admin/sections") Secciones
            li
                a(href="/admin/contact") Contacto
            li
                a(href="/admin/perfil") Perfil
            li
                a(href="/admin/logout") Salir
